services:
  nginx-proxy-manager:
    container_name: nginx-proxy-manager
    image: 'jc21/nginx-proxy-manager:latest'
    restart: unless-stopped

    ports:
      - '81:81'

    environment:
      TZ: "Asia/Kolkata"
    
    networks:
      - nginx-proxy-manager
      - cloudflared

    volumes:
      - ./data:/data
      - ./letsencrypt:/etc/letsencrypt

networks:
  cloudflared:
    external: true
  nginx-proxy-manager:
    external: true